<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557173791153-gqvuamiunsna6scsinobcitendvrj4e1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557173791153-gqvuamiunsna6scsinobcitendvrj4e1</string>
	<key>API_KEY</key>
	<string>AIzaSyByqkoAcqdK2e6wOyf2z9MxLYO899WR_FE</string>
	<key>GCM_SENDER_ID</key>
	<string>557173791153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginAuth</string>
	<key>PROJECT_ID</key>
	<string>whatever-d6859</string>
	<key>STORAGE_BUCKET</key>
	<string>whatever-d6859.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557173791153:ios:36e65c09aba05959b24590</string>
</dict>
</plist>